---
import AdminLayout from "../../../layouts/AdminLayout.astro";
import RentalForm from "../../../components/admin/RentalForm";
---

<AdminLayout title="Nuevo Alquiler">
    <div class="min-h-screen py-10">
        <main class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
            <RentalForm client:only="react" />
        </main>
    </div>
</AdminLayout>

<script>
    import { supabase } from "../../../lib/supabase";

    // Protect route
    const {
        data: { session },
    } = await supabase.auth.getSession();
    if (!session) {
        window.location.href = "/admin/login";
    }
</script>
