---
import BuscarButton from '@/components/BuscarButton.jsx';

---



<header class="h-[¨120px] w-full flex items-center bg-[#006760]">
<div class="h-[120px] w-full flex items-center justify-between px-4 sm:px-6 lg:px-8">
<div class="flex justify-between w-full items-center">
    <a href="/" class="text-2xl font-bold text-amber-50">REAL STATE</a>
    <div class="flex gap-12">
<BuscarButton variant="header" client:load />
    </div>
</div>
</div>
</header>