---
import BuscarButton from '@/components/BuscarButton.jsx';
import Buscador from '@/components/Buscador.jsx';
import { Image } from 'astro:assets'; // Import Image component
import sliderImage from '/public/slider-1.webp'; // Import the image directly

---

<section class="relative h-[620px] bg-cover bg-center">
    <Image src={sliderImage} loading={"eager"} fetchpriority={"high"} alt="Hero Background" class="absolute inset-0 w-full h-full object-cover -z-10" />
    <div class="absolute inset-0 bg-gradient-to-b from-[var(--gradient-color)] from-10% to-transparent 110%"></div>
    <div class="relative z-10 flex flex-col items-center justify-center h-full">
        

        <div class="w-full flex flex-col items-center justify-center gap-7">
            <div class="flex flex-wrap justify-center gap-7">
                <Buscador client:load />
            </div>
            <BuscarButton variant="hero" client:load />
        </div>
    </div>
</section>

<style>
section {
    --gradient-color:#0D4715 ;
    /* --url-img: url(/slider-1.webp); Removed */
}
</style>