---
import AdminLayout from "../../layouts/AdminLayout.astro";
import TenantLoginForm from "../../components/tenant/TenantLoginForm";
---

<AdminLayout title="Portal del Inquilino - Login">
    <div
        class="min-h-screen flex items-center justify-center bg-gradient-to-br from-blue-50 to-indigo-100 dark:from-gray-900 dark:to-gray-800"
    >
        <TenantLoginForm client:load />
    </div>
</AdminLayout>
