---
import '@/styles/global.css'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import { ClientRouter } from "astro:transitions";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Inmobiliaria en pinamar, tecnologia realstate" />
		<title>RealState inmobiliaria</title>
		<ClientRouter />
	</head>
	<body>
		<Header/>
			
			<slot />
		<Footer/>
	</body>
</html>