---
import AdminLayout from "../../layouts/AdminLayout.astro";
import Dashboard from "../../components/admin/Dashboard";
---

<AdminLayout title="Panel de Administración">
    <div class="min-h-screen bg-gray-100">
        <main>
            <Dashboard client:only="react" />
        </main>
    </div>
</AdminLayout>

<script>
    import { supabase } from "../../lib/supabase";

    // Check Auth
    const checkUser = async () => {
        const {
            data: { session },
        } = await supabase.auth.getSession();
        if (!session) {
            window.location.href = "/admin/login";
        }
    };

    checkUser();
</script>
