---
import AdminLayout from "../../layouts/AdminLayout.astro";
import LoginForm from "../../components/admin/LoginForm";
---

<AdminLayout title="Admin Login">
    <div
        class="min-h-screen flex items-center justify-center bg-gradient-to-br from-slate-50 to-gray-100 dark:from-gray-900 dark:to-gray-800"
    >
        <LoginForm client:load />
    </div>
</AdminLayout>
